* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

#banner_video {
  position: relative;
  width: 100%;
  height: 100vh;
}

#banner_video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

/* #sustainabilty{
  max-height: 600px;
  height: auto;
}
#sustainabilty .carouselExampleCaptions{
  height: 100%;
} */
#sustainabilty .sectiontitle.subst {
  top: 8%;
}

#sustainabilty .carousel-indicators {
  width: auto;
}

#sustainabilty .carousel-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.counter-wrapper .count {
  font-size: 40px;
  font-weight: bold;
}

.counter-wrapper {
  background: #333;
  background-image: url('../images/Manufacturing_bg.avif');
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 100px 0;
}

.counter-wrapper h1 {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.counter-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .1);
}

.counter-wrapper .counter-inner {
  position: relative;
  z-index: 2;
}

.counter-wrapper .count-icon {
  font-size: 48px;
}

.counter_content {
  text-align: center;
}

.counter_content p {
  text-align: center;
  font-size: 18px;
  color: white;

}

.counter_content a,
#making_difference a {
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: white;
  background-color: #e31818;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-top: 25px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.red {
  color: #e31818;
}

.counter-inner .row {
  justify-content: center;
}

#map_section {
  height: 600px;
  background-image: url('../images/louis-hansel-SCc9AndIwJ4-unsplash.jpg');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;

}

#map_section::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
}

#map_section .map_counter {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, .3);
  ;
}

#map_section .list_view_info {
  padding: 16px 0;
  color: white;
  text-align: center;
}

#map_section .list_view_content_title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
}

#making_difference {
  padding: 50px 0;
  background-color: rgba(8, 8, 117, 0.985);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#making_difference .making_difference_content {
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#making_difference h2 {
  color: white;
  font-weight: bold;
}

#making_difference a {
  background-color: white;
  color: rgba(8, 8, 117, 0.985);
  ;
}

#making_difference #carouselExampleFade {
  max-width: 500px !important;
  width: 100%;
}

#making_difference .carousel-item img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  /* height: 500px;
  width: 500px !important; */

}

#making_difference .carousel-indicators {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

footer {
  color: white;
  padding: 18px 0;
}

footer p {
  font-size: 16px;
}

footer .footer_link_ {
  display: flex;
  list-style: none;
  justify-content: end
}

footer .footer_link_ a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

footer .copyright {
  color: white;
  font-size: 16px;
}

footer .follow_us li {
  text-transform: capitalize;
}

footer .follow_us li img {
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #e31818;
}

.over_menu ul li a {
  text-decoration: none;
}

header .head_toplink {
  display: flex;
  padding: 0;
}

header .head_toplink img {
  height: 30px;
  object-fit: contain;
  aspect-ratio: 3/4;

}

header .logo {
  margin: 0;
}

header .humberger_icon {
  margin-top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sustainabilty #carouselExampleCaptions img {
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.over_menu ul.over_level1>li>a img {
  display: none
}

.over_menu ul {
  padding-right: 2rem;
  left: unset;
  right: 0
}

#enquiryBtn {
  position: fixed;
  bottom: 50px;
  right: 0px;
  z-index: 1000;
}

#enquiryBtn.btn {
  background: #e31818;
  width: 150px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  transition: all .4s ease-out;
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: bold
}

#enquiryBtn.btn a {
  color: white;
  text-decoration: none;
}

#enquiryBtn.btn .svg-inline--fa.fa-w-14 {
  width: .875em;
}

#our_business_Sec {
  padding: 100px 0;
  background-color: gainsboro;
}
#our_business_Sec .container >  h2{
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 25px;
}
#our_business_Sec .row{
  justify-content: center;
  row-gap: 30px;
}

.grid {
	position: relative;

}

.grid figure {
	position: relative;
	overflow: hidden;
	max-height: 360px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
  margin: 0;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-layla {
	background: #000;
}

figure.effect-layla img {
	height: 390px;
}

figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.strength-scratch-section {
  background: url(../images/strength-scratch-bg.jpg);
  background-size: cover;
  height: 100vh;
  position: relative
}
.strength-scratch-section .div-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  padding-left: 5%
}
.strength-scratch-section .div-flex .text-content {
  width: 35%;
  margin-right: 2%
}
.strength-scratch-section .div-flex .text-content .head-title {
  color: #121212;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px
}
.strength-scratch-section .div-flex .text-content .sub-title {
  font-family: "Exo", sans-serif;
  color: #4578b9;
  font-size: 30px
}
.strength-scratch-section .div-flex .text-content .para {
  /* font-family: "Lato-Regular"; */
  color: #222;
  font-size: 16px;
  margin: 25px 0;
  width: 70%;
  line-height: 1.2;
  letter-spacing: 1px
}
.strength-scratch-section .div-flex .text-content .gif-logos {
  display: -ms-flexbox;
  display: flex;
  width: 50%
}

.strength-scratch-section .div-flex .text-content .gif-logos .gif-img {
  margin: 0 10px 0 0
}

.strength-scratch-section .div-flex .strength-scratch-slider {
  width: 65%
} .strength-scratch-section .div-flex .strength-scratch-slider .slick-list {
  padding: 75px 0
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider {
  position: relative;
  transition: linear .9s
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider:focus {
  outline: 0
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider.slick-current {
  transform: scale(1.1);
  z-index:  1
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider.slick-current .banner-txt {
  opacity: 1
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider.slick-current.slick-active .gradient-overlay {
  background-image: linear-gradient(transparent, rgba(18, 18, 18, 0.48), #121212)
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .banner-txt {
  position: absolute;
  bottom: 8%;
  left: 5%;
  text-align: center;
  color: #fff;
  opacity: 0
}
.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .banner-txt .content .bold-title {
  font-family: "Exo", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2
}.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .banner-txt .content .sub-title {
  font-family: "Lato-Regular";
  font-size: 16px;
  opacity: .9;
  line-height: 1.2;
  letter-spacing: 1px;
  padding: 0 20px;
  text-align: left
}
.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .gradient-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(transparent, transparent, #121212)
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow {
  background: transparent;
  transform: translate(-50%, -50%)
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-prev {
  top: 100%
}
.strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-prev:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f060";
  color: #4578b9
}

 .strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-next {
  top: 100%;
  right: auto
}
.strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  color: #4578b9;
  padding: 0 5px
}
.over_menu ul.open{
  left: -100%;
}
.over_menu ul.over_level1{
  left: 81% !important;
    opacity: 0;
}
.overmenuopen .over_menu ul.over_level1{
  right: 0%;
    opacity: 1;
}
.over_menu .over_menu_close.open{
  left: unset;
  right: 200px;
}
.over_menu .over_menu_close.open {
left: unset;
  right: 20px;
}
.over_menu .over_menu_close::after{
  line-height: normal;
  margin-top: -3px;
}
.strength-scratch-section .slick-prev,
.strength-scratch-section .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: transparent
}

.strength-scratch-section .slick-prev:hover,
.strength-scratch-section .slick-prev:focus,
.strength-scratch-section .slick-next:hover,
.strength-scratch-section .slick-next:focus {
    color: transparent;
    outline: 0;
    background: transparent
}

.strength-scratch-section .slick-prev:hover:before,
.strength-scratch-section .slick-prev:focus:before,
.strength-scratch-section .slick-next:hover:before,
.strength-scratch-section .slick-next:focus:before {
    opacity: 1
}

.strength-scratch-section .slick-prev.slick-disabled:before,
.strength-scratch-section .slick-next.slick-disabled:before {
    opacity: .25
}

.strength-scratch-section .slick-prev:before,
.strength-scratch-section .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.strength-scratch-section .slick-prev {
    left: -25px
}

.strength-scratch-section [dir='rtl'] .slick-prev {
    right: -25px;
    left: auto
}

.strength-scratch-section .slick-prev:before {
    content: '←'
}

.strength-scratch-section [dir='rtl'] .slick-prev:before {
    content: '→'
}

.strength-scratch-section .slick-next {
    right: -25px
}

.strength-scratch-section [dir='rtl'] .slick-next {
    right: auto;
    left: -25px
}

.strength-scratch-section .slick-next:before {
    content: '→'
}

.strength-scratch-section [dir='rtl'] .slick-next:before {
    content: '←'
}

.strength-scratch-section .strength-scratch-section .slick-dotted.slick-slider {
    margin-bottom: 30px
}