* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #002767;
  --secondary-color : #e31818;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}
a,a:hover{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

#banner_video {
  position: relative;
  width: 100%;
  height: 100vh;
}

#banner_video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

#sustainabilty {
  padding: 75px 0;

}

#sustainabilty h2 {
  margin-bottom: 35px;
}

.sectiontitle {
  font-family: "Roboto", sans-serif;
}

#sustainabilty .sectiontitle.subst {
  top: 8%;
}

#sustainabilty .carousel-indicators {
  width: auto;
}

#sustainabilty .carousel-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.counter-wrapper .count {
  font-size: 40px;
  font-weight: bold;
}

.counter-wrapper {
  background: #333;
  background-image: url('../images/allimages/Website\ Banner.png');
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 100px 0;
}

.counter-wrapper h1 {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.counter-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .1);
}

.counter-wrapper .counter-inner {
  position: relative;
  z-index: 2;
}

.counter-wrapper .count-icon {
  font-size: 48px;
}

.counter_content {
  text-align: center;
}

.counter_content p {
  text-align: center;
  font-size: 18px;
  color: white;

}

.counter_content a,
#making_difference a {
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: white;
  background-color: #e31818;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-top: 25px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.red {
  color: #e31818;
}

.counter-inner .row {
  justify-content: center;
}

#map_section {
  height: 600px;
  background-image: url('../images/louis-hansel-SCc9AndIwJ4-unsplash.jpg');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;

}

#map_section::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
}

#map_section .map_counter {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, .3);
  ;
}

#map_section .list_view_info {
  padding: 16px 0;
  color: white;
  text-align: center;
}

#map_section .list_view_content_title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
}

#making_difference {
  padding: 50px 0;
  background-color: var(--primary-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#making_difference .making_difference_content {
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#making_difference h2 {
  color: white;
  font-weight: bold;
}

#making_difference a {
  background-color: white;
  color: rgba(8, 8, 117, 0.985);
  ;
}

#making_difference #carouselExampleFade {
  max-width: 500px !important;
  width: 100%;
}

#making_difference .carousel-item img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  /* height: 500px;
  width: 500px !important; */

}

#making_difference .carousel-indicators {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

footer {
  margin: 50px 0 0;
  color: white;
  padding: 70px 0 00px;
  background-color: white;
  box-shadow: 0 -3px 26px rgb(0 0 0 / 16%);
}
footer .footer_wrapper{
  padding-bottom: 60px;
}
footer .footer_heading{
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 7px;
  font-weight: bold;
}
footer .footer_heading.product{
  margin-top: 20px;
}
footer .footer-info h6,
footer .footer-info p,
footer .contact-info {
  color: black;
}

footer .contact-info {
  margin-top: 15px;
}
footer .contact-info p{
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}
footer .footer-info p{
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;
  max-width: 90%;
}
footer a{
  font-size: 14px;
  color: black;
  font-weight: bold;
}


footer .flex.gap-4{
  color: black;
  font-weight: bold;
}
footer .footer_social{
  background-color: var(--primary-color);
}
footer .border-dark{
  background-color: var(--primary-color);
}
footer .copyright_part{
  padding: 20px 0 15px;
}
footer .border-dark a,
footer .copyright_text{
  color: white;
  line-height: normal;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #e31818;
}

.over_menu ul li a {
  text-decoration: none;
}

header .head_toplink {
  display: flex;
  padding: 0;
}

header .head_toplink img {
  height: 30px;
  object-fit: contain;
  aspect-ratio: 3/4;

}

header .logo {
  margin: 0;
}

header .humberger_icon {
  margin-top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sustainabilty #carouselExampleCaptions img {
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.over_menu ul.over_level1>li>a img {
  display: none
}

.over_menu ul {
  padding-right: 2rem;
  left: unset;
  right: 0
}

#enquiryBtn {
  position: fixed;
  bottom: 50px;
  right: 0px;
  z-index: 1000;
}

#enquiryBtn.btn {
  background: #e31818;
  width: 150px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  transition: all .4s ease-out;
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: bold
}

#enquiryBtn.btn a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#enquiryBtn.btn .svg-inline--fa.fa-w-14 {
  width: .875em;
}

#our_business_Sec {
  padding: 100px 0;
  background-color: gainsboro;
}

#our_business_Sec .container>h2 {
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 25px;
}

#our_business_Sec .row {
  justify-content: center;
  row-gap: 30px;
  margin: 0;
}

#our_business_Sec .adjustable_design_item {
  transition: .5s ease;
  position: relative;
  min-height: 350px;
  flex: 1 1 0%;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}

#our_business_Sec .adjustable_design_item .bg_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#our_business_Sec .adjustable_design_item:hover {
  flex: 0 0 50%;
}

#our_business_Sec .adjustable_design_item:before {
  content: "";
  background: linear-gradient(154deg, transparent, rgba(0, 0, 0, .5));
  position: absolute;
  z-index: 10;
  display: block;
  height: 100%;
  width: 100%;
}

#our_business_Sec .adjustable_design_item_text {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
}

#our_business_Sec .adjustable_design_item_text {
  right: -105px;
  bottom: 9rem;
  width: 300px;
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  padding: 0;
  text-align: left;
}

#our_business_Sec .cus_btn2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: .375rem;
  border-width: 1px;
  text-align: center;
  font-size: .875rem;
  border-color: white;
  line-height: 1.5;
  border-style: solid;
  text-decoration: none;
}

#our_business_Sec .px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

#our_business_Sec .cus_btn2.v2 {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#our_business_Sec .adjustable_design_item_text .cus_btn2 {
  display: inline-flex;
}

#our_business_Sec .adjustable_design_item_text .cus_btn2 {
  display: none;
}

#our_business_Sec .adjustable_design_item:hover .adjustable_design_item_text .cus_btn2 {
  display: inline-flex;
}

#our_business_Sec .cus_btn2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

#our_business_Sec .cus_btn2 span {
  position: relative;
  z-index: 10;
  display: block;
  padding: .75rem 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

#our_business_Sec .adjustable_design_item:hover .adjustable_design_item_text {
  transition: .4s ease;
  text-align: center;
  width: 100%;
}

#our_business_Sec .adjustable_design_item:hover .adjustable_design_item_text {
  bottom: 0;
  right: 0;
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  padding: 2rem 1.5rem;
}

#our_business_Sec .adjustable_design_item+.adjustable_design_item {
  margin-top: 0;
  margin-left: 2rem;
}

#our_business_Sec .cus_text60 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
}

.strength-scratch-section {
  background: url(../images/strength-scratch-bg.jpg);
  background-size: cover;
  height: 100vh;
  position: relative
}

.strength-scratch-section .div-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  padding-left: 5%
}

.strength-scratch-section .div-flex .text-content {
  width: 35%;
  margin-right: 2%
}

.strength-scratch-section .div-flex .text-content .head-title {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px
}

.strength-scratch-section .div-flex .text-content .sub-title {
  color: #121212;
  font-size: 30px
}

.strength-scratch-section .div-flex .text-content .para {
  /* font-family: "Lato-Regular"; */
  color: #222;
  font-size: 16px;
  margin: 25px 0;
  width: 70%;
  line-height: 1.2;
  letter-spacing: 1px
}

.strength-scratch-section .div-flex .text-content .gif-logos {
  display: -ms-flexbox;
  display: flex;
  width: 50%
}

.strength-scratch-section .div-flex .text-content .gif-logos .gif-img {
  margin: 0 10px 0 0
}

.strength-scratch-section .div-flex .strength-scratch-slider {
  width: 65%
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list {
  padding: 75px 0
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider {
  position: relative;
  transition: linear .9s
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider:focus {
  outline: 0
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider.slick-current {
  transform: scale(1.1);
  z-index: 1
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider.slick-current .banner-txt {
  opacity: 1
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider.slick-current.slick-active .gradient-overlay {
  background-image: linear-gradient(transparent, rgba(18, 18, 18, 0.48), #121212)
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .banner-txt {
  position: absolute;
  bottom: 8%;
  left: 5%;
  text-align: center;
  color: #fff;
  opacity: 0
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .banner-txt .content .bold-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .banner-txt .content .sub-title {
  font-family: "Lato-Regular";
  font-size: 16px;
  opacity: .9;
  line-height: 1.2;
  letter-spacing: 1px;
  padding: 0 20px;
  text-align: left
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-list .slider .gradient-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(transparent, transparent, #121212)
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow {
  background: transparent;
  transform: translate(-50%, -50%)
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-prev {
  top: 100%
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-prev:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f060";
  color: #4578b9
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-next {
  top: 100%;
  right: auto
}

.strength-scratch-section .div-flex .strength-scratch-slider .slick-arrow.slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  color: var(--primary-color);
  padding: 0 5px
}

.over_menu ul.open {
  left: -100%;
}

.over_menu ul.over_level1 {
  left: 81% !important;
  opacity: 0;
}

.overmenuopen .over_menu ul.over_level1 {
  right: 0%;
  opacity: 1;
}

.over_menu .over_menu_close.open {
  left: unset;
  right: 200px;
}

.over_menu .over_menu_close.open {
  left: unset;
  right: 20px;
}

.over_menu .over_menu_close::after {
  line-height: normal;
  /* margin-top: -3px; */
}
.back{
  cursor: pointer;
}

.strength-scratch-section .slick-prev,
.strength-scratch-section .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: transparent
}

.strength-scratch-section .slick-prev:hover,
.strength-scratch-section .slick-prev:focus,
.strength-scratch-section .slick-next:hover,
.strength-scratch-section .slick-next:focus {
  color: transparent;
  outline: 0;
  background: transparent
}

.strength-scratch-section .slick-prev:hover:before,
.strength-scratch-section .slick-prev:focus:before,
.strength-scratch-section .slick-next:hover:before,
.strength-scratch-section .slick-next:focus:before {
  opacity: 1
}

.strength-scratch-section .slick-prev.slick-disabled:before,
.strength-scratch-section .slick-next.slick-disabled:before {
  opacity: .25
}

.strength-scratch-section .slick-prev:before,
.strength-scratch-section .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.strength-scratch-section .slick-prev {
  left: -25px
}

.strength-scratch-section [dir='rtl'] .slick-prev {
  right: -25px;
  left: auto
}

.strength-scratch-section .slick-prev:before {
  content: '←'
}

.strength-scratch-section [dir='rtl'] .slick-prev:before {
  content: '→'
}

.strength-scratch-section .slick-next {
  right: -25px
}

.strength-scratch-section [dir='rtl'] .slick-next {
  right: auto;
  left: -25px
}

.strength-scratch-section .slick-next:before {
  content: '→'
}

.strength-scratch-section [dir='rtl'] .slick-next:before {
  content: '←'
}

.strength-scratch-section .strength-scratch-section .slick-dotted.slick-slider {
  margin-bottom: 30px
}
.cus_modal{
  display: none;
}

.cus_modal.open{
  display: block;
}
.cus_modal_close .hamburger_lines .line{
  background-color: var(--secondary-color);
}

.new_release{
  padding: 100px 0;
}
.new_release .list-container{
  background-color: var(--secondary-color);
}
.slider_wrapper_small  .list_view_content_title {
  font-size: 24px !important;
  margin: 20px 0 10px;
}
.mask_img_one{
  mask-image: url('../images/quote_left.png');
  mask-size: 100% 100%;
  background-color: var(--primary-color);
}
.mask_img_two{
  mask-image: url('../images/quote_right.png');
  mask-size: 100% 100%;
  background-color: var(--secondary-color);
}
.inner_banner{
  position: relative;
}
.releted_product .list_view{
  display: flex;
}

.list_view.row{
  margin-left: 0;
  margin-right: 0;
}


.grid-container-gallery {
  margin: 0 auto;
  row-gap: 40px;
}

 .grid-container-gallery div:hover img {
	 filter: grayscale(0);
   cursor: pointer;
}
 .grid-container-gallery div:hover {
	 border-color: var(--primary-color);
}
 .grid-container-gallery div img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	 width: 100%;
	 filter: grayscale(100%);
	 border-radius: 10px;
	 transition: all 0.25s ease-in-out;
}
 .grid-container-gallery div p {
	 margin: 5px 0;
	 padding: 0;
	 text-align: center;
	 font-style: italic;
}
 




